.t-or-ms1-mh-header {
	background-color: #212121;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.t-or-ms1-mh-header-inner {
	height: 70px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.t-or-ms1-mh-header-c1 {
	padding-top: 23px;
	width: 244.52px;
	
	img {
		width: 100%;
	}
}

.t-or-ms1-mh-header-c2 {
	background-color: $primary;
	height: 100%;
	width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&.is-open {
		border-radius: 50%;

		span {
			&:nth-of-type(1) {
				transform: rotate(45deg);
				top: 7px;
			}

			&:nth-of-type(2) {
				opacity: 0;
			}

			&:nth-of-type(3) {
				transform: rotate(-45deg);
				top: -7px;
			}
		}
	}

	span {
		background-color: $white;
		display: block;
		width: 24px;
		height: 2px;
		position: relative;
		flex-shrink: 0;

		&:not(:last-of-type) {
			margin-bottom: 5px;
		}
	}
}
